.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #FFFFFF;
  color: black;
  padding: 1rem;
  height: 6rem;
  border-radius: 8px;
  border-top: 6px solid green;
}

.cards {
  :hover {
    background: #e7e7e7;
    cursor: pointer;
  }

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.header {
  display: flex;
}

.header {
  img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .customer-info {
    display: block;
    margin-left: 10px;
    margin-top: 2px;
  }

  .customer-company {
    font-weight: bolder;
    font-size: 18px;
  }

  .customer-name {
    color: #B0B3BC;
    margin-top: 2px;
  }
}

.customer-description {
  color: #737987;
  margin-top: 10px;
  //font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.add-customer {

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 35px;
  }
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.bold {
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  input[type=text] {
    width: 100% !important;
  }
}

input[type=text] {
  width: 32%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
